In [2]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

# Grading Splits: PrairieLearn Edition

Use the next cell to input TA name and allocation data. You can also change the amount of instances.

In [6]:
# change this to current term
schedule = {'name':['Kristine', 'Trevor', 'Hamid', 
                    'Ben', 'Jason', 'Junfeng', 'Jubelle'],
            'hours': [3,4,4,3,4,3.5,2]}  
df = pd.DataFrame() 
df = pd.DataFrame(schedule) 

# change this to however many instances there are
instances = 72

In [7]:
def find_num_files(hours, total_hours, total_subs):
    """
    function used to calculate the ratio of individual TA availability to total hours 
    hours = hours per TA
    total_hours = total hours of all TAs
    This generates the relative availability of each TA
    
    The relative availability is then multiplied by the total number of submissions and rounded to 
    find how many files each TA will grade
    
    returns: number of files to grade per TA
    """
    return int(round(hours/total_hours*total_subs))

def find_list_num_files(df, total_subs):
    num_grade = [find_num_files(i, df['hours'].sum(), total_subs) for i in df.hours]
    num_grade[-1] += total_subs - sum(num_grade)
    return num_grade

def files_to_grade(file_nums):
    """
    takes in the names and num of files each TA will grade and outputs their split
    """
    to_grade = []
    start = 1
    for i in file_nums:
        to_grade.append('{0} - {1}'.format(start, start + i -1))
        start += i
    return to_grade

In [8]:
f_nums = find_list_num_files(df, instances)
to_grade = files_to_grade(f_nums)
df['instances'] = to_grade
df['num_files']= f_nums

In [9]:
display(HTML(df.to_html(index=False)))